*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}
/*header*/

/* header {
  background-color: #070e16;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  height: 60px;
  margin-left:50px;
}

 */


/*about*/

.about {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.about-content {
  flex: 1;
  max-width: 600px;
  padding-right: 50px;
  color: #fff;
  margin-left: 5%;
  margin-top: -30px;
  
  
}

.about h2 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #070e16;
}

.about p {
  font-size: 18px;
  margin-bottom: 20px;
  color: #666;
}

.about-image {
  max-width: 50%;
  margin-left: 30px;
  margin-top: -30px;
}

.about-image img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}




/* menu*/
.menu {
  padding: 80px 0;
  text-align: center;
 
}

.menu h2 {
  font-size: 36px;
  margin-bottom: 40px;
  color: #070e16;
}

.menu-items {
  display: flex;
  justify-content: center;
}

.menu-item {
  max-width: 300px;
  margin: 0 20px;
  text-align: left;
}

.menu-item img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.menu-item h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #070e16;
}

.menu-item p {
  font-size: 16px;
  margin-bottom: 20px;
  color: #666;
}

/* reservations*/




/* Testimonials Section*/

.testimonials {
  padding: 80px 0;
  text-align: center;
  background-color: #070e16;
}

.testimonials h2 {
  font-size: 36px;
  margin-bottom: 40px;
  color: #fff;
}

.testimonial {
  max-width: 600px;
  margin: 0 auto 40px;
  text-align: left;
}

.testimonial img {
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0 auto 20px;
}

.testimonial p {
  font-size: 18px;
  margin-bottom: 20px;
  color: #666;
}

.testimonial h4 {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}


/* Gallery Section*/

.gallery {
  padding: 80px 0;
  text-align: center;
}

.gallery h2 {
  font-size: 36px;
  margin-bottom: 40px;
  color:  #b8cfe7;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin-left: 5%;
  margin-right: 5%;
}

.image-item img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}


/* Contact Section*/

.contact {
  background-color: #e5e9ef;
  padding: 80px 0;
  text-align: center;
  color: #fff;
}

.contact-container {
  max-width: 600px;
  margin: 0 auto;
}

.contact h2 {
  font-size: 36px;
  margin-bottom: 40px;
  color:  #070e16;
}

.contact-info {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  color: black;
}

.info-item {
  margin: 0 20px;
  text-align: center;
}

.info-item i {
  font-size: 24px;
  margin-bottom: 10px;
}

.contact-form input,
.contact-form textarea {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
}

.contact-form textarea {
  resize: vertical;
}

.contact-form button {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
  border: none;
}

.contact-form button:hover {
  background-color:  #a0b4c8;
}


/* Footer*/

.footer {
  background-color:  #007bff;
  padding: 40px 0;
  color: #fff;
  text-align: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.footer-logo img {
  max-width: 150px;
}

.footer-links a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
}

.footer-social a {
  color: #fff;
  margin: 0 5px;
  text-decoration: none;
}

.footer-text {
  font-size: 14px;
}

.registration-form {
  padding: 80px 0;
  text-align: center;
}

.login-form {
  padding: 80px 0;
  text-align: center;
}



body {
  font-family: 'Arial', sans-serif;
  background-color: #f9fafb;
  margin: 0;
  padding: 0;
  color: #333;
}

/* Conteneur */
.container {
  width: 90%;
  max-width: 1500px;
  margin: 0 auto;
}

/* En-tête principal */
.main-header {
  background-color: #ffffff;
  border-bottom: 1px solid #eaeaea;
}

.main-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header .logo img {
  max-width: 150px;
}

.main-header nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.main-header nav ul li {
  display: inline;
}

.main-header nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.auth-buttons {
  display: flex;
  gap: 1rem;
}

.auth-buttons .sign-in,
.auth-buttons .sign-up {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.auth-buttons .sign-in {
  background-color: #ffffff;
  color: #333;
  border: 1px solid #eaeaea;
}
.auth-buttons .sign-in:hover {
  background-color:#007bff;
  color: #ffffff;
}


.auth-buttons .sign-up {
  background-color: #007bff;
  color: #ffffff;
}

.auth-buttons .sign-up:hover {
  background-color:  #ffffff;
  color: #333;
  border: 1px solid #eaeaea;
}
/* Section Hero */
.hero {
  background-color: #f0f4f8;
  padding: 5rem 0;
  text-align: center;
}

.hero h1 {
  font-size: 2.5rem;
  color: #333;
}

.hero p {
  font-size: 1.2rem;
  color: #666;
  margin: 1rem 0;
}

.hero .cta-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.hero .cta-buttons .get-started,
.hero .cta-buttons .learn-more {
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.hero .cta-buttons .get-started {
  background-color: #007bff;
  color: #ffffff;
}

.hero .cta-buttons .learn-more {
  background-color: #f0f4f8;
  color: #007bff;
  border: 1px solid #007bff;
}

/* How It Works Section */
#how-it-works {
  padding: 50px 0;
  background: #e2e2e2;
}

#how-it-works .container {
  text-align: center;
}

#how-it-works h3 {
  margin-bottom: 40px;
  font-size: 2em;
  color:  #b8cfe7;
}

.steps {
  display: flex;
  justify-content: space-around;
}

.step {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 30%;
}

.step h4 {
  margin-bottom: 10px;
}

.step p {
  color: #666;
}

/* Section des fonctionnalités */
#features {
  padding: 50px 0;
  background: #fff;
}

#features .container {
  text-align: center;
}

#features h3 {
  margin-bottom: 40px;
  font-size: 2em;
  color:  #b8cfe7;
}

.features-list {
  display: flex;
  justify-content: space-around;
}

.feature {
  background: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
  width: 30%;
}

.feature h4 {
  margin-bottom: 10px;
}

.feature p {
  color: #666;
}

/* Testimonials Section */
#testimonials {
  padding: 50px 0;
  background: #fff;
}

#testimonials .container {
  text-align: center;
}

#testimonials h3 {
  margin-bottom: 40px;
  font-size: 2em;
  color:  #b8cfe7;
}

.testimonials-list {
  display: flex;
  justify-content: space-around;
}

.testimonial {
  background: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
  width: 40%;
}

.testimonial p {
  font-style: italic;
}

.testimonial h4 {
  margin-top: 10px;
  font-size: 1.2em;
  color: #333;
}

/* faqs */
#faq {
  padding: 50px 0;
  background: #fff;
}

#faq .container {
  text-align: center;
}

#faq h3 {
  margin-bottom: 40px;
  font-size: 2em;
}

.faq-list {
  max-width: 800px;
  margin: 0 auto;
}

.faq-item {
  margin-bottom: 20px;
}

.faq-item h4 {
  margin-bottom: 10px;
  font-size: 1.2em;
}

.faq-item p {
  color: #666;
}

/* Pied de page */
footer {
  background-color: #007bff;
  color: white;
  text-align: center;
  padding: 1rem 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

footer p {
  margin: 0;
}
